{% extends 'main.html' %}
{% load static %}
{% block title %}Management{% endblock%}


{% block body %}
<h1>Managemeent</h1>

    <div class="mb-1"><a class="btn btn-primary" href="{% url 'additem'%}">add new Item</a></div>
    {% if product %}
        <div class="row">
            {% for item in product %}
                <div class="col-md-3 shadow-box">
                    <div class="position-absolute d-flex ms-1">x1</div>
                    <div>
                        <a href="" class="shadow"><img style="max-width:100%;" src="{{item.imageURL}}" alt=""></a>
                        <div class="box-element shadow d-flex justify-content-between" style="border-radius: 0 0 4px 4px;">
                            <h6>{{item.title}}</h6>
                            <h6>${{item.price}}</h6>
                            <h6><a href="{% url 'edititem' item.id %}" class="btn btn-primary">Edit</a></h6>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
   
    
{% endblock body %}
    
